.gradle
.classpath
.project
.settings
bin
build
docker-ek-stack/elasticsearch01
docker-ek-stack/elasticsearch02
docker-ek-stack-ssl/certs
docker-ek-stack-ssl/elasticsearch01
docker-ek-stack-ssl/elasticsearch02
.vertx
